<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT AboutUs ANY>
<!ATTLIST AboutUs id ID #REQUIRED>
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Articles ANY>
<!ATTLIST Articles id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT ForbiddenAccess ANY>
<!ATTLIST ForbiddenAccess id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT Login ANY>
<!ATTLIST Login id ID #REQUIRED>
<!ELEMENT Project ANY>
<!ATTLIST Project id ID #REQUIRED>
<!ELEMENT ProjectMain ANY>
<!ATTLIST ProjectMain id ID #REQUIRED>
<!ELEMENT Projects ANY>
<!ATTLIST Projects id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-10-16T20:02:18" updateDate="2015-11-27T22:55:20" nodeName="Homepage" urlName="homepage" path="-1,1052" isDoc="" nodeType="1051" creatorName="mariya" writerName="mariya" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <footerText><![CDATA[Mariya Dimitrova, y'all]]></footerText>
    <pageName><![CDATA[Hvad?]]></pageName>
    <ProjectMain id="1122" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2015-10-29T10:00:55" updateDate="2015-11-27T20:58:05" nodeName="Projects List" urlName="projects-list" path="-1,1052,1122" isDoc="" nodeType="1119" creatorName="mariya" writerName="mariya" writerID="0" template="1118" nodeTypeAlias="ProjectMain">
      <Project id="1136" parentID="1122" level="3" creatorID="0" sortOrder="2" createDate="2015-11-27T20:56:21" updateDate="2015-11-27T20:56:21" nodeName="Projectttt" urlName="projectttt" path="-1,1052,1122,1136" isDoc="" nodeType="1117" creatorName="mariya" writerName="mariya" writerID="0" template="1116" nodeTypeAlias="Project">
        <bodyText><![CDATA[<p>hey there</p>]]></bodyText>
        <title><![CDATA[Mhm mhm]]></title>
      </Project>
      <Project id="1140" parentID="1122" level="3" creatorID="0" sortOrder="1" createDate="2015-12-01T10:17:25" updateDate="2015-12-01T10:17:25" nodeName="Something else" urlName="something-else" path="-1,1052,1122,1140" isDoc="" nodeType="1117" creatorName="mariya" writerName="mariya" writerID="0" template="1116" nodeTypeAlias="Project">
        <bodyText><![CDATA[<p>It's  project</p>]]></bodyText>
        <title><![CDATA[Something else]]></title>
      </Project>
    </ProjectMain>
    <Home id="1129" parentID="1052" level="2" creatorID="0" sortOrder="5" createDate="2015-11-27T13:55:02" updateDate="2015-11-27T13:59:31" nodeName="Home" urlName="home" path="-1,1052,1129" isDoc="" nodeType="1068" creatorName="mariya" writerName="mariya" writerID="0" template="1070" nodeTypeAlias="Home">
      <footerText><![CDATA[Meow]]></footerText>
      <pageName><![CDATA[Home]]></pageName>
      <gridInfoPage><![CDATA[{
  "name": "Info Page",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "1 and 3 column page",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<p>Hello there. Umbraco is killing me, if you're reading this - save me!</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Believe, think, explore, dream, discover, create!",
                  "editor": {
                    "name": "Quote",
                    "alias": "quote",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-quote",
                    "config": {
                      "style": "border-left: 3px solid #ccc; padding: 10px; color: #ccc; font-family: serif; font-variant: italic; font-size: 18px",
                      "markup": "<blockquote>#value#</blockquote>"
                    }
                  }
                }
              ]
            },
            {
              "grid": 12,
              "controls": []
            },
            {
              "grid": 4,
              "controls": []
            },
            {
              "grid": 4,
              "controls": []
            },
            {
              "grid": 4,
              "controls": []
            }
          ],
          "id": "7ec83c99-029f-aafe-eddc-8b92262c954e"
        }
      ]
    }
  ]
}]]></gridInfoPage>
    </Home>
    <Contactpage id="1130" parentID="1052" level="2" creatorID="0" sortOrder="5" createDate="2015-11-27T14:01:49" updateDate="2015-11-27T14:01:49" nodeName="Contact" urlName="contact" path="-1,1052,1130" isDoc="" nodeType="1094" creatorName="mariya" writerName="mariya" writerID="0" template="1093" nodeTypeAlias="Contactpage">
      <map><![CDATA[56.119632,10.158625,1]]></map>
    </Contactpage>
    <Login id="1131" parentID="1052" level="2" creatorID="0" sortOrder="6" createDate="2015-11-27T19:36:06" updateDate="2015-11-27T19:36:21" nodeName="Log In" urlName="log-in" path="-1,1052,1131" isDoc="" nodeType="1106" creatorName="mariya" writerName="mariya" writerID="0" template="1105" nodeTypeAlias="Login" />
    <ForbiddenAccess id="1132" parentID="1052" level="2" creatorID="0" sortOrder="6" createDate="2015-11-27T20:52:22" updateDate="2015-11-27T20:52:58" nodeName="Access Forbidden" urlName="access-forbidden" path="-1,1052,1132" isDoc="" nodeType="1108" creatorName="mariya" writerName="mariya" writerID="0" template="1107" nodeTypeAlias="ForbiddenAccess">
      <umbracoNaviHide>1</umbracoNaviHide>
    </ForbiddenAccess>
    <AboutUs id="1139" parentID="1052" level="2" creatorID="0" sortOrder="7" createDate="2015-12-01T08:54:40" updateDate="2015-12-01T10:16:28" nodeName="About us" urlName="about-us" path="-1,1052,1139" isDoc="" nodeType="1061" creatorName="mariya" writerName="mariya" writerID="0" template="1059" nodeTypeAlias="AboutUs">
      <pageTitle><![CDATA[ugkjh]]></pageTitle>
      <bodyText><![CDATA[<p>Blabla Blablabla </p>]]></bodyText>
      <footerText><![CDATA[Meowwwwwwwww]]></footerText>
      <pageName><![CDATA[About us]]></pageName>
      <gridfile><![CDATA[{
  "name": "Info Page",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "1 and 3 column page",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            },
            {
              "grid": 12,
              "controls": []
            },
            {
              "grid": 12,
              "controls": []
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                },
                {
                  "value": "<p><span>Beef ribs sausage ball tip swine frankfurter bacon. Frankfurter kielbasa jowl, shank pork tail andouille leberkas tri-tip. Pork chop ham tongue venison kielbasa beef pastrami beef ribs pork loin tri-tip. Hamburger ham salami brisket. Strip steak leberkas pancetta andouille sirloin, capicola landjaeger beef drumstick tri-tip kevin pastrami. Chuck ham hock boudin, pig tail bresaola pork pastrami. Pig kielbasa tri-tip capicola beef ribs tongue prosciutto pork chop.</span></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                },
                {
                  "value": "<p>Bacon ipsum dolor amet shoulder filet mignon t-bone pork belly doner alcatra tongue fatback venison frankfurter tenderloin ribeye kevin chuck. Salami t-bone pork loin spare ribs pork belly prosciutto swine shoulder kevin corned beef capicola. Filet mignon tri-tip bacon andouille ham hock meatloaf short loin brisket hamburger pancetta sirloin ball tip boudin landjaeger shankle. Brisket kielbasa shankle ground round, alcatra ribeye spare ribs prosciutto capicola pork loin salami frankfurter pancetta kevin leberkas. Cupim pork ground round salami sirloin tail picanha spare ribs, sausage pork belly shank tongue beef ribs boudin prosciutto. Short ribs boudin meatball kevin pork loin tongue strip steak chicken alcatra hamburger jerky. Sirloin short ribs porchetta filet mignon.</p>\n<p> </p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                },
                {
                  "value": "<p>Our skills r:<br /><br /></p>\n<p>Cupim shoulder cow, brisket prosciutto andouille beef ribs strip steak frankfurter bacon turkey jerky ham chuck. Drumstick jowl meatball tri-tip landjaeger prosciutto andouille filet mignon pancetta, chuck beef. Cupim meatball tongue ribeye short loin tenderloin beef alcatra picanha leberkas pork chop ball tip doner pig. Alcatra ribeye leberkas, meatloaf porchetta pork loin spare ribs tongue.</p>\n<p> </p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "6093cbce-0115-6d18-709c-290bc3b5a110"
        }
      ]
    }
  ]
}]]></gridfile>
    </AboutUs>
    <Contactpage id="1142" parentID="1052" level="2" creatorID="0" sortOrder="7" createDate="2015-12-01T11:12:41" updateDate="2015-12-01T11:12:41" nodeName="aname" urlName="aname" path="-1,1052,1142" isDoc="" nodeType="1094" creatorName="mariya" writerName="mariya" writerID="0" template="1093" nodeTypeAlias="Contactpage" />
  </Homepage>
  <Homepage id="1141" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-12-01T10:42:46" updateDate="2015-12-01T10:42:46" nodeName="Home" urlName="home" path="-1,1141" isDoc="" nodeType="1051" creatorName="mariya" writerName="mariya" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <pageName><![CDATA[Home]]></pageName>
  </Homepage>
</root>